{%set assets_rt= t_config.assets_rt if t_config.assets_rt else '/assets'%}
{%set Title=(title+' - ' if title else '') + config.site_name%}
{% include 'macros.html' %}
<!DOCTYPE html>
<html lang="{{config.lang}}">
<head>
    <title>{{Title}}</title>
    {% include "seo.html" %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="dns-prefetch" href="{{config.site_url}}">
    {% include "css.html" %}
    <link rel="shortcut icon" href="{{config.site_icon}}">
</head>
<body class="mdui-appbar-with-toolbar mdui-theme-accent-blue">
    <div class="mdui-progress" id='loading-progress' style="position: fixed;top:0;z-index: 999999;"><div class="mdui-progress-indeterminate"></div></div>
    <div id="theme_css"></div>
    {%include "appbar.html"%}
    <div class="mdui-container">
        <div id='page_typ' hidden>{{page_typ}}</div>
        {%block content%}{%endblock%}
    </div>
    {% include "drawer.html" %}
    <div class="mdui-drawer mdui-drawer-close mdui-drawer-right" id="toc_drawer" hidden>
        <ul class="mdui-list" id="toc"></ul>
    </div>
</body>
<button class="mdui-fab mdui-fab-mini mdui-fab-fixed mdui-fab-hide" id="totop" onclick="totop()" style="z-index: 99999;">
    <i class="mdui-icon material-icons">keyboard_arrow_up</i>
</button>
{%if t_config.footer.enable%}{% include "footer.html" %}{%endif%}
{% include "search.html" %}
{% include "js.html" %}

{%if t_config.pjax%}
<script async>
var pjaxjs=document.createElement("script");
pjaxjs.src="https://cdn.jsdelivr.net/npm/pjax/pjax.min.js";
pjaxjs.async=true;
pjaxjs.onload=function(){
    var pjax=new Pjax({elements:"a",selectors:[
        "title",
        "#TOC",
        ".mdui-container",
        ".js-pjax"
    ]});
    document.addEventListener('pjax:send',function(){document.getElementById('loading-progress').hidden=0;});
    document.addEventListener('pjax:complete',function(){document.getElementById('loading-progress').hidden=1;pjax_load();mdui.mutation();});
}
document.getElementsByTagName("head")[0].appendChild(pjaxjs);
</script>
{%endif%}

{%if t_config.comment.enable%}
<script async>
window.addEventListener('load',function(){try{GenComment();}catch{}});
document.addEventListener('pjax:complete',function(){try{GenComment();}catch{}});
</script>
{%endif%}

{%include "custom.html"%}
</html>